{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.597"}
        alandipert/storage-atom {:mvn/version "2.0.1"}
        hickory {:mvn/version "0.7.1"}
        funcool/httpurr {:mvn/version "2.0.0"}
        metosin/reitit-frontend {:mvn/version "0.4.2"}
        reagent {:mvn/version "0.10.0"}}
 :paths ["src" "resources"]
 :aliases {:fig     {:extra-deps
                      {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                       ; com.bhauman/figwheel-main {:mvn/version "0.2.3"}}
                       com.bhauman/figwheel-main {:git/url "https://github.com/pyrmont/figwheel-main" :sha "bfb80e9de31baddae4f2eb886f631d45dfd9e43e"}}
                     :extra-paths ["target" "test"]}
           :build   {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
           :min     {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "dev"]}
           :release {:main-opts ["-m" "figwheel.main" "-bo" "release"]}
           :remote  {:main-opts ["-m" "figwheel.main" "-b" "remote" "-r"]}}}
